/* width */
/* ::-webkit-scrollbar {
    width: 10px;
    display: none;
} */
/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
} */

/* @import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body,html {
  height:100%;
  margin:0;
  font-family:lato !important;
} */

.v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 10px !important;
}
.main-bg{
    background-color: #ECEFF1 !important;
    min-height: calc(100vh - 64px) !important;
}
.login-main-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 0px !important;
    padding: 0;
}
.right-container{
    width: 450px;
    display: flex;
    justify-content: center;
    background:rgb(241, 237, 237);
    /* background-color: red; */
    /* align-items: center; */
    flex-direction: column;
    padding: 10px;
}
.right-container div h2{
    text-align: center;
    margin-bottom: 20px;
}
.right-inner-container{
    border-radius: 5px;
    height: 300px;
    padding: 15px;
    background:#FFF;
    margin:40px auto;
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}
.left-container{
    width: calc(100% - 450px);
    background-color: #834622;
    display: flex;
    justify-content: center;
}
.left-container1{
    /* background-color: #161616; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.table-header-main-container{
    display: flex;
}
.table-header-search{
    width: 96%;
}
.filter-main-container{
    width: 500px;
    display: block;
}
.filter-main-container div{
    display: flex;
}
.hidden{
    display: none;
}
.sidebar-menu{
    overflow-y:scroll;
    height: 80vh;
}
*::-webkit-scrollbar {
    display: none;
}
.graduate-avatar{
    border-radius: 50% !important;
    height: 200px;
    width: 200px;
    object-fit: contain;
    justify-content: center;
}
.graduate-image-container{
    display: flex;
    justify-content: center;
}
.text-danger{
    color: red !important;
}
.text-red{
    color: red !important;
}
.table-fix-height .v-data-table__wrapper {
    max-height: 74vh !important;
    /* overflow: auto !important; */
}
.cursor-pointer{
    cursor: pointer !important;
}
.dashboard-main-container{
    height: 83vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dashboard-inner-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.class-year{
    max-width: 317px !important;
}
.class-chart-head{
    display: flex;
    justify-content: space-between;
}

.v-data-table__wrapper td {
    max-width: 200px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 800px){
    .v-data-table__wrapper td {
        max-width: unset !important;
        white-space: unset;
        overflow: unset;
        text-overflow: unset;
    }
}